.toolbar {
    background-color: #fff;
}

.menu {
    color: black;
}

.help_outline {
    color: black;
    position: absolute;
    right: 3rem;
}

.filter_list {
    color: black;
    position: absolute;
    right: 1rem;
}

.header_text {
    color: black;
    position: absolute;
    margin-left: 4rem;
    margin-bottom: 0.5rem;
}

.icons_card {
    background-color: #fff;
}

.body_card {
    background-color: #fff;
}

.label {
    width: 4rem;
    margin-bottom: 4rem;
}

.recebido {
    color: #006400;
    margin: 1.5rem;
    font-size: x-large;
}

.espera {
    color: black ;
    margin-inline-start: 2.9rem;
}

.mensagem {
    font-size: large;
    color: black;
}

.resultado {
    margin-left: 1.5rem;
}

.desconto {
    margin-left: 14rem;
}

.valor {
    margin-left: 19.8rem;
}

.check {
    color: #006400;
    margin-left: 1.4rem;
}

.separado {
    color: #006400;
    margin-left: 3rem;
}

.transporte {
    color: #006400;
    margin-left: 3rem;
}

.entregue {
    color: #006400;
    margin-left: 3rem;
}